body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    box-sizing: border-box;
    margin: 0 ;
    height: 100vh;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}


#tablero {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    padding: 50px;
}

.ship {
    border: solid 1px red;
    padding: 5px;
}

.ship:hover {
    background-color: pink;
}